

<% @questions.each do |question| %>
  <h2><a href="/questions/<%= question.id %>"><%= question.title %></a></h2>
  <p><%= question.explanation %></p><br><br><br>
<% end %>

<h2><a href="/questions/new">Ask a question...</a></h2>
