<h1>To submit a new question</h1>

<!-- nested route? -->
<!-- /questions or /users/user_id/questions? -->

<form action="/???" method="post">
  <input type="text" name="title" placeholder="title">
  <input type="text" name="explanation" placeholder="body">
  <input type="submit" value="Ask Question">
</form>
