<h1>To submit a new question</h1>

<!-- nested route? -->
<!-- /questions or /users/user_id/questions? -->

<form action="/questions" method="post">
  <input type="text" name="question[title]" placeholder="Question Title"><br>
  <textarea name="question[explanation]" placeholder="Question"></textarea><br>
  <input type="submit" value="Ask Question">
</form>
