<h1>To submit a new question</h1>

<!-- nested route? -->
<!-- /questions or /users/user_id/questions? -->

<form action="/questions" method="post">
  <input type="text" name="question[title]" placeholder="Question Title">
  <input type="text" name="question[explanation]" placeholder="Question">
  <input type="submit" value="Ask Question">
</form>
