<h1>Login for the good naps!</h1>
<div class="center">
  <form action='/sessions' method='POST'>
    <input type='text' name='email' placeholder='email'>
    <input type='password' name='password' placeholder='password'>
    <input type='submit' value='Sleepy Time!'>
  </form>
</div>
