<h1>Register New Napper</h1>

<div>
  <form action='/users' method='POST'>
    <input type="text" name="user[username]" placeholder="username">
    <input type="text" name="user[email]" placeholder="email">
    <input type="password" name="user[password]" placeholder="password">
    <input type="submit" value="Pajama Party!">
  </form>
</div>
