<h1>Form for new Answer<h1>

<!-- do we need this both here and in questions/show.erb? -->
<form action='/questions/<%= @question.id %>/answers'>
  <textarea name="answer[content]" placeholder="Answer"></textarea><br>
  <input type="submit" value="Answer Question">
</form>
