<h1>Form for new Answer<h1>

<!-- '/questions/:question_id/answers'? -->
<form action='/:question_id/answers'>
  <input type="text" name="content" placeholder="answer">
  <input type="submit" value="Answer Question">
</form>
