<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Henny+Penny" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">


  <!-- <link href="https://fonts.googleapis.com/css?family=Fresca" rel="stylesheet"> -->

  <title></title>
</head>
<body>
  <div id="header-wrap">
    <header>
      <h1 id="site-header"><a href="/">Sleepy Time</a></h1>
      <nav class="site-nav">
          <% if logged_in? %>
            <li>
              <form action='/sessions' method='POST' class="form">
                <input type='hidden' name='_method' value='DELETE'>
                <input type='submit' value='Logout'>
              </form>
            </l1>
          <% else %>
            <li><a href="/sessions/new">Login</a></li>
            <li><a href="/users/new">Sign Up</a></li>
          <% end %>
        </ul>
      </nav>
    </header>
  </div>

  <%= yield %>

  <% if @errors %>
    <%= erb :'_errors', locals: { errors: @errors } %>
  <% end %>
</body>
</html>
